<!doctype html>
<html lang="en" ng-app="selectDemoApp" id="top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Angular bootstrap-select</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="../bower_components/angular/angular.js"></script>

    <script src="../src/angular-bootstrap-select.js"></script>
</head>
<body>
    <div role="main">
        <div class="container">
            <script>
            (function () {
                var selectDemoApp = angular.module('selectDemoApp', [
                    'angular-bootstrap-select',
                    'angular-bootstrap-select.extra'
                ]);

                selectDemoApp.controller('SimpleUsageCtrl', function ($scope, $timeout) {
                    $scope.model = '';
                    $scope.colors = ['Mustard', 'Ketchup', 'Relish'];
                    $scope.repeater = [
                      { title: 'one' },
                      { title: 'two' },
                      { title: 'three' }
                    ];
                    $scope.selectWithOptionsIsVisible = true;
                });
            })();
            </script>

            <!-- Simple usage -->
            <section id="simple-usage" ng-controller="SimpleUsageCtrl" dropdown-toggle>
                <h1>Simple usage</h1>

                <div>
                    <h3>Works with ngIf</h3>
                    <div>Model value: <code>{{model || "''"}}</code></div>
                    <div>Show/Hide <input type="checkbox" ng-model="selectWithOptionsIsVisible"></div>

                    <div ng-if="selectWithOptionsIsVisible">
                        <select class="dropup" selectpicker="{ dropupAuto: false }" ng-model="model">
                            <option value="">Select one</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>

                    <h3>Works without ngIf</h3>
                    <div>Model value: <code>{{model || "''"}}</code></div>
                    <select selectpicker="" ng-model="model">
                        <option value="">Select one</option>
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select>

                    <h3>Works with optgroup</h3>
                    <div>
                        <select selectpicker ng-model="model">
                            <option value="">Select one</option>
                            <optgroup label="Favorite">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                            </optgroup>
                            <optgroup label="Other">
                                <option>Relish</option>
                            </optgroup>
                        </select>
                    </div>

                    <h3>Works with ngOptions</h3>
                    <div>Model value: <code>{{model || "''"}}</code></div>
                    <div>Colors: <code>{{colors | json}}</code></div>
                    <select selectpicker ng-model="model" ng-options="c as c for c in colors">
                        <option value="">Select one</option>
                    </select>
                  
                    <h3>Works with ngRepeat</h3>
                    <div ng-repeat="select in repeater">
                        <label>{{select.title}} {{model}}</label>
                        <select selectpicker ng-model="$parent.model" ng-options="c as c for c in colors">
                            <option value="">Select one</option>
                        </select>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>
</html>
