<!doctype html>
<html lang="en" ng-app="selectDemoApp" id="top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Angular bootstrap-select</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-select/bootstrap-select.js"></script>
    <script src="../bower_components/angular/angular.js"></script>

    <script src="../src/angular-bootstrap-select.js"></script>

    <script src="marked.js"></script>
    <script src="selectDemo.js"></script>
</head>
<body>
    <div role="main">
        <div class="container">
            <section id="directives-bootstrap-select" ng-controller="SelectCtrl">
                <div class="page-header">
                    <h1>Angular bootstrap-select</h1>
                    <code>Form: {{form || 'undefined'}}</code><br>
                    <code>Color: {{color || 'undefined'}}</code>
                </div>

                <select toggle selectpicker ng-model="form">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>

                <select ng-model="form" class="dropup" toggle selectpicker="{ dropupAuto: false }">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>

                <select toggle selectpicker ng-model="color" class="" ng-options="color.name for color in colors"></select>

            </section>

            <section id="readme">
                <h2>README.md</h2>
<marked>
angular-bootstrap-select
========================

Directive to wrap [bootstrap-select](http://silviomoreto.github.io/bootstrap-select/). This directive aims to proxy the behavior of the plugin bootstrap-select, in the AngularJS style, see the documentation on the [plugin page](http://silviomoreto.github.io/bootstrap-select/).

## Requirements
- ([jQuery](http://jquery.com/))
- ([bootstrap-select](http://silviomoreto.github.io/bootstrap-select/))
- ([AngularJS](http://angularjs.org/))

## Install

```bash
$ bower install angular-bootstrap-select
```

## Examples

### [Live demo](http://joaoneto.github.io/angular-bootstrap-select/)

### Demo in `demo/index.html` folder

### Html snippet

```html
<script src="../bower_components/angular-ui-tags/build/angular-bootstrap-select.min.js"></script>

<select class="selectpicker">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>
```

## TODO

Implement ngOptions with selectpicker
```html
<select ng-model="form" class="selectpicker" ng-options="color.name for color in colors"></select>
```

## Testing

```bash
$ npm install
$ bower install
$ grunt
```

## License
The MIT License (MIT)

Copyright (c) 2014 João Pinto Neto

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</marked>
            </section>

        </div>
    </div>

</body>
</html>